*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}

body{
    margin: 12%;
    background: url(m.png) no-repeat;
    background-size: cover;
}

.login-form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    background-color: #95afc0;
    opacity: 0.9;
}

.login-form h2{
    text-align: center;
    font-size: 150%;
    text-transform: uppercase;
    padding: 20px 0px;
    color: black;
}
.login-form p{
    font-size: 20px;
    margin: 10px 0;
}

.login-form form{
    padding: 20px 48px;
    height: 100%;
    width: 100%;
}

.login-form input{
    text-align: center;
    padding: 15px 10px;
    border: none;
    font-size: 16px;
    width: 100%;
}

div.login-form form button{
    width: 100%;
    padding: 10px 15px;
    border: none;
    font-size: 93%;
    font-weight: bold;
    color: black;
    margin: 15px 0;
    border-radius: 8%;
}

div.login-form form button:hover{
    background-color: #41b6e6;
}


