@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: rgb(250, 241, 230);
}

*{
    margin: 20;
    padding: 0;

}

nav{
    font-family: 'ubantu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: black;
    color: white;

}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 60px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}